.playing {
    animation: playButtonRadialPulse 1s infinite;
}

@keyframes playButtonRadialPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(24, 144, 255, 1);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(24, 144, 255, 0);
    }
}